/**
 * message-body
 */
.itemMe,
.itemYou {
  display: flex;
  padding: 8px 0;
}

.itemMe {
  justify-content: flex-end;
}

.itemYou {
  justify-content: flex-start;
}

.inner {
  display: flex;
  max-width: 60%;
}

.balloonMe,
.balloonYou {
  padding: 16px;
}

.balloonMe {
  background-color: #74CBD6;
  color: #fff;
  border-radius: 8px 8px 0 8px;
}

.balloonYou {
  background-color: #F5F5F5;
  border-radius: 8px 8px 8px 0;
}

.date {
  margin-top: 8px;
  font-size: 0.8rem;
  text-align: right;
  color: #AAB3BB;
}

.thumb {
  width: 64px;
  height: 64px;
  flex-basis: 64px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 8px;
}

.thumb img {
  display: block;
  width: 100%;
}

