/**
 * message-panel
 */
.head {
  color: #AAB3BB;
  font-size: 0.8rem;
  text-align: right;
}

.textarea {
  color: #000;
  background-color: #F5F5F5;
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  min-height: 80px;
  font-size: 1rem;
  margin: 8px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.photo {
  color: #74CBD6;
  font-size: 1.5rem;
  margin-right: auto;
  cursor: pointer;
}

.photo:hover {
  opacity: 0.8;
}

.free {
  margin-right: 16px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.free:hover {
  opacity: 0.8;
}

.freeIcon {
  color: #D3DEE5;
  font-size: 1.4rem;
  margin-right: 4px;
}

.button {
  color: #fff;
  background-color: #D3DEE5;
  padding: 12px 16px;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.button:hover {
  color: #fff;
  background-color: #74CBD6;
}
